aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
pymongo>=4.1,<5.0
motor>=3.1.1
pillow
psutil
py-tgcalls==0.8.6
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
numpy
yt-dlp
youtube-search
youtube-search-python
